@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {

    /* ### Primary */
    
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card .join,
.card .sub,
.card .why {
    padding: 20px 20px 10px 20px;
}

.join {
    background-color: white;
    color: var(--Grayish-Blue);
}

.join > * {
    margin-bottom: 20px;
}

.join h1 {
    margin-top: 10px;
    color: var(--Cyan);
    font-size: 1.2em;
}

.join h2 {
    color: var(--Bright-Yellow);
    font-size: 1em;
}

.join p {
    font-size: .85em;
    line-height: 2em;
}

.sub {
    background-color: rgb(1, 156, 156);
}

.sub > * {
    color: var(--Light-Gray);
}

.sub h1 {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.sub p {
    margin-bottom: 20px;
}

.value {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

span.price {
    margin-right: 10px;
    font-size: 2em;
    font-weight: bold;
}

span.month {
    color: rgba(255, 255, 255, 0.685);
    font-size: 1em;
}

.sign {
    background-color: var(--Bright-Yellow);
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.sign > a {
    text-decoration: none;
    color: var(--Light-Gray);
    font-weight: bold;
}

.why {
    background-color: var(--Cyan);
    color: var(--Light-Gray);
}

.why h1 {
    font-size: 1.1em;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    font-size: .9em;
    padding-bottom: 15px;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.685);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width:992px) {
    .card {
        width: 600px;
    }

    .join > h2 {
        margin-bottom: 10px;
    }

    .join > p {
        font-size: .92em;
        font-weight: bold;
        line-height: 1.5em;
    }

    .bloc2 {
        display: flex;
    }

    .sub,
    .why {
        width: 50%;
    }

    .card .sub,
    .card .why {
        padding: 30px;
    }
    
}