@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {

    /* ### Primary */
    
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
}

.card {
    width: 300px;
    margin: 1.25rem 0;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}

.card .join {
    border-radius: 10px 10px 0 0;
}

.card .why {
    border-radius: 0 0 10px 10px;
}

.card .join,
.card .sub,
.card .why {
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}

.join {
    background-color: white;
    color: var(--Grayish-Blue);
}

.join > * {
    margin-bottom: 1.25em;
}

.join h1 {
    margin-top: 0.625em;
    color: var(--Cyan);
    font-size: 1.2em;
}

p.condition {
    color: var(--Bright-Yellow);
    font-size: 1rem;
    font-weight: bold;
    line-height: 2em;
}

.sub {
    background-color: rgb(1, 156, 156);
}

.sub > * {
    color: var(--Light-Gray);
}

.sub h2 {
    font-size: 1.0625rem;
    margin-bottom: 20px;
}

.sub p {
    margin-bottom: 1.25rem;
}

.value {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

span.price {
    margin-right: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

span.month {
    color: rgba(255, 255, 255, 0.685);
    font-size: 1rem;
}

.sign {
    background-color: var(--Bright-Yellow);
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9375em;
    margin-top: 1.875em;
    border-radius: 10px;
}

.sign > a {
    text-decoration: none;
    color: var(--Light-Gray);
    font-weight: bold;
}

.why {
    background-color: var(--Cyan);
    color: var(--Light-Gray);
}

.why h2 {
    font-size: 1.0625rem;
    margin-bottom: 0.9375em;
}

ul {
    list-style-type: none;
    font-size: .9375rem;
    padding-bottom: .9375em;
    line-height: 1.375em;
    color: rgba(255, 255, 255, 0.685);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width:992px) {
    body {
        justify-content: center;
    }

    .card {
        width: 600px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    }

    .join > .condition {
        margin-bottom: .625em;
    }

    .join > p {
        font-size: .9125em;
        font-weight: bold;
        line-height: 1.5em;
    }

    .bloc2 {
        display: flex;
    }

    .sub {
        border-radius: 0 0 0 10px;
    }

    .card .why {
        border-radius: 0 0 10px 0;
    }

    .sub,
    .why {
        width: 50%;
    }

    .card .join,
    .card .sub,
    .card .why {
        padding: 1.875em;
    }
    
}